# Enable "vi" mode in Readline instead of the default "emacs" mode
# https://stackoverflow.com/a/12009972/8628013
# set -o vi

# Reenable Ctrl-r to search history backwards
# https://vi.stackexchange.com/a/16357
# "\C-r": reverse-search-history

# Reenable history completion using arrow keys
# "\e[A": history-search-backward
# "\e[B": history-search-forward
