{
    :templates {
        :launch "open -a %s"
        :hs "open -g hammerspoon://hyper?action=%s\\&target=%s"
    }

    :devices {
        :moonlander [{:product_id 6505 :vendor_id 12951}]
        :apple-wireless [{:product_id 598 :vendor_id 1452}]
        :macbook-pro [{:product_id 832 :vendor_id 1452}]
        :macbook [{:product_id 633 :vendor_id 1452}]
    }

    :layers {
        :launch {:key :caps_lock :alone {:key :escape} :condi :!moonlander}
    }

    :main [
        {
            :des "Default Launch layer"
            :rules [:launch
                [:s [:launch "Slack.app"]]
                [:d [:launch "Discord.app"]]
                [:b [:launch "Safari.app"]]
                [:k [:launch "kitty.app"]]
                [:m [:launch "Mail.app"]]
                [:c [:launch "Calendar.app"]]
                [:f [:launch "Fellow.app"]]
                [:z [:launch "zoom.us.app"]]
                [:r [:launch "Bear.app"]]
            ]
        }
        {
            :des "Moonlander Launch layer"
            :rules [
                [:condi :moonlander]
                [:!!s [:launch "Slack.app"]]
                [:!!d [:launch "Discord.app"]]
                [:!!b [:launch "Safari.app"]]
                [:!!k [:launch "kitty.app"]]
                [:!!m [:launch "Mail.app"]]
                [:!!c [:launch "Calendar.app"]]
                [:!!f [:launch "Fellow.app"]]
                [:!!z [:launch "zoom.us.app"]]
                [:!!r [:launch "Bear.app"]]

            ]
        }
        {
            :des "Default command palette"
            :rules [:launch
                [:p [:hs "open" "default"]]
            ]
        }
        {
            :des "Moonlander command palette"
            :rules [
                [:condi :moonlander]
                [:!!o [:hs "open" "default"]]
            ]
        }
    ]
}
