{
    :templates {
        :launch "open -a %s"
        :hs "open -g hammerspoon://hyper?action=%s\\&target=%s"
    }

    :devices {
        :moonlander [{:product_id 6505 :vendor_id 12951}]
        :piantor-pro [{:product_id 2 :vendor_id 48875}]
        :apple-wireless [{:product_id 598 :vendor_id 1452}]
        :macbook-m1 [{:product_id 834 :vendor_id 1452}]
        :macbook [{:product_id 633 :vendor_id 1452}]
    }

    :layers {
        :launch {:key :caps_lock :alone {:key :escape} :condi [:!moonlander :!piantor-pro]}
    }

    :main [
        {
            :des "Default Launch layer"
            :rules [:launch
                [:a [:launch "Activity\\ Monitor.app"]]
                [:s [:launch "Slack.app"]]
                [:d [:launch "Discord.app"]]
                [:b [:launch "Safari.app"]]
                [:k [:launch "kitty.app"]]
                [:m [:launch "Mail.app"]]
                [:c [:launch "Calendar.app"]]
                [:f [:launch "Fellow.app"]]
                [:z [:launch "zoom.us.app"]]
                [:r [:launch "Obsidian.app"]]
                [:t [:launch "Ivory.app"]]
                [:i [:launch "PyCharm.app"]]
            ]
        }
        {
            :des "Split KB Launch layer"
            :rules [
                [:condi :moonlander :piantor-pro]
                [:!!a [:launch "Activity\\ Monitor.app"]]
                [:!!s [:launch "Slack.app"]]
                [:!!d [:launch "Discord.app"]]
                [:!!b [:launch "Safari.app"]]
                [:!!k [:launch "kitty.app"]]
                [:!!m [:launch "Mail.app"]]
                [:!!c [:launch "Calendar.app"]]
                [:!!f [:launch "Fellow.app"]]
                [:!!z [:launch "zoom.us.app"]]
                [:!!r [:launch "Obsidian.app"]]
                [:!!t [:launch "Ivory.app"]]
                [:!!i [:launch "PyCharm.app"]]
            ]
        }
        {
            :des "Default Hammerspoon"
            :rules [:launch
                [:o [:hs "open" "default"]]
                [:w [:hs "slack-rw-wave" "default"]]
            ]
        }
        {
            :des "Split KB Hammerspoon"
            :rules [
                [:condi :moonlander :piantor-pro]
                [:!!o [:hs "open" "default"]]
                [:!!w [:hs "slack-rw-wave" "default"]]
            ]
        }
    ]
}

; !  | means mandatory
; #  | means optional
; C  | left_command
; T  | left_control
; O  | left_option
; S  | left_shift
; F  | fn
; Q  | right_command
; W  | right_control
; E  | right_option
; R  | right_shift
; P  | caps_lock
; !! | mandatory command + control + optional + shift (hyper)
; ## | optional any
